body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: white;
  background-image: radial-gradient(gray, black);
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: left;
}

#spel {
  display: grid;
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
  margin: auto;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  width: calc(100vh / 18 * 12);
}

.lijn,
.blokje {
  border: 0.5vmin solid;
  box-sizing: border-box;
  border-color: #ffffff50 #00000050 #00000050 #ffffff50;
}

.blokje {
  background-color: gray;
}

.lijn {
  background-color: hsl(50, 100%, 50%);
  grid-column-start: 1;
  grid-column-end: 13;
}

#score,
#venstertje {
  width: calc(100vh / 18 * 4);
  background-color: black;
  border: 5px #ffffff50 solid;
  box-sizing: border-box;
}
#score {
  font-size: 6vmin;
  text-align: right;
  padding: 1vmin 2vmin;
  margin: 0;
}
#venstertje {
  height: calc(100vh / 18 * 4);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
